NODE_ENV= # can be production, development, test

# Auto convern to string
PORT=
HOST_NAME=
CORS_ORIGIN=http://localhost:5173
CLIENT_URL=http://localhost:5173

# ------------------------------------------------------------SQL Server configuration--------------------------------------------------------------------
# Always turn on TCP/IP in SQL Server Configuration Manager and set port for SQL Server (default is 1433)
# For SQL Server Express, you also need to set instance name (default is SQLEXPRESS) in database.js
# For SQL Server Standard/Enterprise, you can leave instance name empty and just use port 1433
SQL_USER=
SQL_PASSWORD=
SQL_SERVER=
SQL_DATABASE=
SQL_PORT=
SQL_INSTANCE_NAME=
SQL_ENCRYPT=
SQL_TRUST_SERVER_CERTIFICATE=
SQL_DOMAIN=
