<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Document Dashboard</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/table.css">
</head>

<body>
    <%- include('partials/navbar') %>

        <section class="home">
            <div class="dash-content">
                <div class="overview">
                    <div class="title">
                        <i class='bx bx-tachometer'></i>
                        <span class="text">Dashboard Overview</span>
                    </div>

                    <div class="boxes">
                        <div class="box box1">
                            <i class='bx bx-file'></i>
                            <span class="text">Total Files</span>
                            <span class="number">10,120</span>
                        </div>
                        <div class="box box2">
                            <i class='bx bx-cloud-upload'></i>
                            <span class="text">Recent Uploads</span>
                            <span class="number">1,245</span>
                        </div>
                        <div class="box box3">
                            <i class='bx bx-user-check'></i>
                            <span class="text">Active Users</span>
                            <span class="number">486</span>
                        </div>
                    </div>
                </div>

                <div class="activity">
                    <div class="title">
                        <i class='bx bx-time-five'></i>
                        <span class="text">Recent Activity</span>
                    </div>

                    <div class="activity-data">
                        <div class="data names">
                            <span class="data-title">Name</span>
                            <span class="data-list">Prem Shahi</span>
                            <span class="data-list">Deepa Halder</span>
                            <span class="data-list">Manisha Chand</span>
                        </div>
                        <div class="data emails">
                            <span class="data-title">Email</span>
                            <span class="data-list">premshahi@gmail.com</span>
                            <span class="data-list">deepahalder@gmail.com</span>
                            <span class="data-list">mansihachand@gmail.com</span>
                        </div>
                        <div class="data status">
                            <span class="data-title">Status</span>
                            <span class="data-list">Uploaded</span>
                            <span class="data-list">Pending</span>
                            <span class="data-list">Approved</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

</html>