@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* ====== Colors ====== */

  /* Brand Colors */
  --primary-color: #695cfe; /* primary identifying color */
  --primary-color-light: #f6f5ff; /* use for hover or lightbackground */
  --accent-color: #8672ff; /* lighter than primary a bit */

  /* Backgrounds */
  --body-color: #e4e9f7; /* background all pages */
  --base-color: #ffffff; /* background of cards, containers */
  --input-color: #f3f0ff; /* background for input fields */

  /* Text & Interaction Colors */
  --text-color: #2e2b41; /* primary text color (ensure good contrast) */
  --toggle-color: #dddddd; /* color for toggles, switches */
  --error-color: #ff4d4f; /* color for errors, warnings */

  /* ====== Transitions ====== */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family:
    Poppins,
    Segoe UI,
    sans-serif;
  font-size: 12pt;
  color: var(--text-color);
}

body:not(.preload) .background-content,
body:not(.preload) .background-content * {
  transition: var(--tran-05);
}

.background-content {
  position: absolute;
  top: 0;
  left: 280px; /* Khớp với chiều rộng Sidebar */
  height: 100vh;
  width: calc(100% - 320px);
  background-color: var(--body-color);
  /* transition: var(--tran-05); */
  padding: 20px;
}

/* When sidebar exp */
.sidebar.close ~ .background-content {
  left: 95px;
  width: calc(100% - 135px);
}

.background-content .main-content {
  padding-top: 20px;
}

/* --- Title --- */
.main-content .title {
  display: flex;
  align-items: center;
  margin: 30px 0 20px 0;
}

.main-content .title i {
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.main-content .title .text {
  font-size: 24px;
  font-weight: 600;
  margin-left: 15px;
}

/* --- Cards Overview --- */
.main-content .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.main-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--base-color);
  transition: var(--tran-03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.main-content .boxes .box:hover {
  transform: translateY(-5px);
}
