<% if(error_msg !="" ){ %>
    <div style="color: white; background-color: #f44336; padding: 10px; margin-bottom: 15px;">
        <%= error_msg %>
    </div>
    <% } %>

        <% if(success_msg !="" ){ %>
            <div style="color: white; background-color: #4CAF50; padding: 10px; margin-bottom: 15px;">
                <%= success_msg %>
            </div>
            <% } %>